.UserTable{
  	width: 100%;
    background:#513654;

}
.table{
	
	border:solid 2px black;
border-collapse: collapse;
}
.table td{
	border:solid 2px black;
	border-collapse: collapse;
	text-align: center;
}
.tableheader{
	width: 100%;
	text-align: center;
	color: white;
}
.addtablerow{
	width: 100%;
}
.editbutton{
	border-radius: 5px;
	background: grey;
	color: white;
}
.deletebutton{
	border-radius: 5px;
	background: red;
	color:white;
}
.savebutton{
	border-radius: 5px;
	background: blue;
	color:white;
}
#theader{
	color: white;
	text-align: center;
}